<div class="input-group mb-3
    mx-2">
    <!-- <input type="text"
                                        class="form-control"
                                        id="basic-url"
                                        [(ngModel)]="variable.businessObject.expression"
                                        aria-describedby="basic-addon3"> -->
    <div style="font-size:
        xx-large; border:
        solid
        1px
        gray; border-radius:
        4px;
        width: -webkit-fill-available;
        "
        id="global-expression-math-field"></div>

    <div id="latex"> </div>
    <div id="math-json"></div>
    <!-- <small>{{variable.businessObject.expression}}</small> -->
</div>